<%- include('partials/headerGame') %>
<%- include('partials/modalStartGame') %>
<%- include('partials/modalEndGame') %>
<%- include('partials/help') %>


    <main class="main">
        <div class="box-container">
            <article class="box">
                <p class="box__number" id="random_value1">???</p>
            </article>

            <article class="box">
                <p class="box__number" id="random_value2" >???</p>
            </article>

            <article class="box">
                <p class="box__number" id="random_value3" >???</p>
            </article>

            <article class="box">
                <p class="box__number" id="random_value4">???</p>
            </article>
        </div>
    </main>
    <form action="/register" name="score__form" method="post">
    <input type="hidden" class="hiddenInput" name="score" id="score">
    <input type="hidden" class="hiddenInput" name="game_id" id="game_id" value="<%=gameID%>">
    </form>



    
</body>
</html>