<%- include('partials/headerGame') %>
<%- include('partials/modalStartGame') %>
<%- include('partials/modalEndGame') %>
<%- include('partials/help') %>

    <main>
        <section class="grid">

        </section>
        <section class ="info">
            <div class="quantity">
                
            
                <div class="dialog-1">
                        <p class="answer"></p>
                     <div class="left-point"></div>
                </div>
                <img class="sprite" src="/C1G4/sprite2.png" alt="">
    
            </div>
                        
           

            <div class="validate">
                <button class="big-button">OK</button>

            </div>

        </section>
    </main>
    <form action="/register" name="score__form" method="post">
        <input type="hidden" class="hiddenInput" name="score" id="score">
        <input type="hidden" class="hiddenInput" name="game_id" id="game_id" value="<%=gameID%>">
    </form>
    
</body>
</html>