<%- include('partials/headerGame') %>
<%- include('partials/modalStartGame') %>
<%- include('partials/modalEndGame') %>
<%- include('partials/help') %>

<body class="waitForGame">

    <main>
        <section class="grid"></section>
        <section class="container">
            <div class="question">
                <div>
                    <div class="bubble">Quel est le reste de la division entre le nombre de fruits et...</div>
                    <div class="pointer"></div>
                </div>              
            </div>
            <div class="pad"> </div>
        </section>
        
    </main>
    <form action="/register" name="score__form" method="post">
        <input type="hidden" class="hiddenInput" name="score" id="score">
        <input type="hidden" class="hiddenInput" name="game_id" id="game_id" value="<%=gameID%>">
    </form>
    
</body>
</html>