<%- include('partials/headerGame') %>
<%- include('partials/modalStartGame') %>
<%- include('partials/modalEndGame') %>
<%- include('partials/help') %>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Press+Start+2P&display=swap" rel="stylesheet">    <link rel="stylesheet" >


    <main>
        
        <section class="grid">

        </section>
        <section class = "info">
                <p class="divisor__descr">Nombre divisible par</p>
                <p class="divisor__number">4</p>
        </section>
    </main>
    <form action="/register" name="score__form" method="post">
        <input type="hidden" class="hiddenInput" name="score" id="score">
        <input type="hidden" class="hiddenInput" name="game_id" id="game_id" value="<%=gameID%>">
    </form>
    
</body>
</html>