<%- include('partials/header') %>
<link rel="stylesheet" href="/menu/menu.css">

<body>
    <section class="container">
        <% for(game of games) { %>
        <a class="game" href="/story/<%= game.id%>">
            <div class="game__text">
                <h2 class="game__title"> <%= game.title %></h2>
                <p class="game__descr"><%= game.descr %></p>
            </div>
            <div class="game__logo">
                <img class="logo__img" src="/<%=game.id%>/<%=game.img%>" alt= <%= game.alt %>>
            </div>
        </a>
        <% } %>
    </section>  
</body>
</html>